.logo-menu {
    display: flex;
    justify-content: space-between;
}

.menu nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu nav ul li {
    margin-left: 20px;
}

.menu nav ul li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.3s;
}